<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/stylesheet.css">
    <title>どうぶつしょうぎ完全解析</title>
  </head>

  <body>
    <header>
      <h1 class="logo">どうぶつしょうぎ完全解析</h1>
    </header>
    <div class="contents">
      <div>
        <input type="button" value="button" onclick="hello()">
      </div>
    </div>
    <footer>

    </footer>
    <script type="text/javascript" src="assets/kaiseki.js"></script>
  </body>
</html>